.header {
    display:flex;
    align-items:flex-end;
    height: 350px;
background-size: cover;
border-radius:20px;
}

.header-content {
    width:100%;
    padding:20px;
    margin-bottom : 20px;
    background-color: rgba(0, 0, 0, 0.2);
    color:#fff;
    text-align: center;
}

.header-title{
    font-family: serif;
    font-size:1.8em;
    margin-bottom:7px;
}